/* script{
  display: none;
} */
.inactive{
  display:none
}
body {
  background-color: indigo;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(cave.png);
}

.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  /*original mente esto era 100*/
  width: 100vw;
}
#div-btn-play{
  position: absolute;
 /*  background-color: #1d1d1dad; */
  width: 100%;
  height: 50%;
  text-align: center;
}
#btn-play{
  height: 80px;
  width: 300px;
  font-size: 50px;
}
.game-win{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1d1d1dad;
  text-align: center;
}
.game-win-anfitrion{
  width: 100%;
  margin-top: calc(17% - 50px) ;
  font-size: 40vw;
}
.game-win-p{
  font-size: 10vw;
  color: #ffffffcc;
  font: bold;
}
.game-win-button{
  width: 200px;
  height: 75px;
  font-size: 20px;
}

canvas {

  border: 4px solid #12e9a154
    /* #ff6600 */
  ;
  border-radius: 8px;
  background-color: #1d1d1dad;
  /*mio*/
}

.btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  
}

button {
  background: rgb(2, 36, 0);
  background: linear-gradient(90deg, #0868489c  0%, rgb(85, 85, 85) 35%, #0868489c 100%);
  /* background-color: #fdef05; */
  border-radius: 8px;
  border-color: #0868489c;
 /*  border-color: #ff6600; */
 color: #fff;/*mio*/
  font-family: inherit;
  margin: 0;
  padding: 5px 20px;
  width: 100px;
}

button:not(:last-child) {
  margin-right: 10px;
}

.messages {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
  max-width: 460px;
}
.overlap-messages{
  position: absolute;
  margin-top: 40%;
  background-color: #12e9a154;
  border-radius: 5px;
  border: 1px solid #12e9a154;
  padding:2px;
}

p {
  display: block;
  margin: 0;
  width: 100%;
  font-size: 1.8rem;
  /*mio*/
  background-color: #1d1d1d5e;
  /*mio*/
  border-radius: 5px;
  /*mio*/
}


@media (max-width: 440px) {
  button {
    margin-top: 5px;
  }

  #up,
  #down {
    margin-left: 100%;
    margin-right: 100%;
  }
  .overlap-messages{
    margin-top: 68vh;
  }
}